@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* LIGHT MODE COLORS */
  :root {
    --color-text-primary: 0, 0, 0;
    --color-text-secondary: 160, 160, 160;
    --color-background-primary: 242, 242, 242;
    --color-background-secondary: 219, 222, 227;
  }

  /* DARK MODE COLORS */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-primary: 236, 237, 238;
      --color-text-secondary: 107, 114, 128;
      --color-background-primary: 17, 24, 39;
      --color-background-secondary: 31, 41, 55;
    }
  }
}
